@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
#continerparent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(32, 34, 31);
}
#continerparent::before {
  content: "hu";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgb(180, 51, 152);
  top: 45%;
  left: 0;
}
.continer {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .parent svg{
    
    margin: 7px 20%;
} */
.continer .card {
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  z-index: 10;
  margin: 20px 20px 60px;
  transition: 0.5s;
}
.continer .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(189, 59, 59);
  box-shadow: 0 15px 35px rgb(0, 0, 0, 0.5);
  backdrop-filter: (15px);
  border: 1px solid rgb(255, 255, 255, 0.1);
  z-index: 10;
  border-radius: 10px;
}
.parent {
  position: relative;
  width: 150px;
  height: 150px;
  bottom: 0;
  border-radius: 50%;
  z-index: 100;
  right: 10%;
}
.parent .number {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .number h2 span {
  font-size: 24px;
}
.text {
  position: absolute;

  z-index: 1;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  padding: 30px 20px 10px;
  pointer-events: none;
  transition: bottom 0.5%, z-index 0%, transform 0.5%, padding 0.5%;
  background-color: crimson;
  transition-delay: 0.5%, 0.5%, 0%, 0.5%;
  transition-duration: 0.5s;
}
/* color btns */
.card:hover .text {
  transition-delay: 0%, 0.5%, 0.5%, 0%;
  bottom: -70px;
  z-index: 11;
  transform: translateX(-50%) translateY(-50px);
  padding: 10px 20px 10px;
}
.card:nth-child(1) .text {
  background-color: rgb(231, 27, 180);
}
.card:nth-child(2) .text {
  background-color: rgb(134, 208, 226);
}

.card:nth-child(3) .text {
  background-color: rgb(27, 231, 146);
}
/* example 82% */
.parent .number h2 {
  color: #fff;
}
/* circle */
svg {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 50% 50%;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  transform: translate(5px,5px);
  stroke-linecap: round;
}
svg circle:nth-child(2) {
  stroke: #fff;
 stroke-dasharray: 440px;
   stroke-dashoffset:440px;
}
.card:nth-child(1)svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px-(440px*90)/100);
}

.card:nth-child(2)svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px-(440px*82)/100);
}
.card:nth-child(3)svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px-(440px*65)/100);
}